@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Poppins:wght@300;400;500;600&display=swap');
body {
    margin: 0;
    height: 200vh;
    background:
    linear-gradient(
    rgba(255, 252, 254, 0.515),
    rgba(131, 24, 174, 0.519)
    ),url("https://wallpaperaccess.com/full/8575316.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    width: 95%;
    background: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 15px;
    border-radius: 20px;
    outline: 5px solid #9955a2;
    box-shadow: 0 0 25px rgba(131, 24, 174, 0.519);
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: white;
    padding: 100px;
    box-sizing: border-box;
}

h1{
    text-align: left;
    font-family:'Fredoka', sans-serif;
    font-size: 50px;
}

h2{
    font-family: 'Fredoka', sans-serif;
    display: flex;
}

.glow-text{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
    text-shadow:
    0 0 20px #ffd4f1;
}

.leftPanel{
    width:100%;
    max-width: 500px;

    background:
    linear-gradient(
        to top,
        #fdb3dd,
        #ffd0ec
    );
    font-family: "Fredoka", sans-serif;
    text-shadow: #ffffff;
    margin: 30px auto;
    padding:40px;
    border-radius: 25px;
    align-items:left;
    color : rgb(0, 0, 0);
 
}

.leftPanel:hover{
    transform:translateY(-5px);
    box-shadow: 0 0 30px rgba(247, 205, 255, 0.8);
}


.leftPanel ul{
    padding-left: 20px;
}

.leftPanel li{
    margin-bottom: 20px;
    font-size: 20px;
}


p{
    text-align: center;
    font-family:'Fredoka', sans-serif;
    font-size: 30px;
}

.cinna{
    margin: 10px auto;
    width: 350px;
    filter:
    drop-shadow(0 0 15px rgba(30,28,28,0.4));
}

.kuromi{
    background-blend-mode:overlay;
    position: fixed;
    right: 20px;
    bottom: 0;
    width: 220px;
    z-index: 1000;
    filter: drop-shadow(0 0 15px rgba(30, 28, 28, 0.5));

    animation: float 4s ease-in-out infinite;
}

@keyframes float{
    5%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
}

.gif{
    margin: 20px auto;
    width: 400px;
    border-radius: 20px;
    border: 8px solid white;
    box-shadow:
    0 0 20px rgba(255,255,255,0.4);

}

.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.side-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}