@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Poppins:wght@300;400;500;600&display=swap');
header{

    width: 100%;

    padding: 50px 30px;

    border-radius: 25px;

    background:
    linear-gradient(
        to right,
        rgba(255,255,255,0.9),
        rgba(255,214,241,0.9)
    );

    box-shadow:
    0 0 25px rgba(131,24,174,0.2);

}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.profile-pic{
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow:
    0 0 30px rgba(255,182,255,0.7);
 
}

.header-text{
    text-align: center;
}

.intro{

    font-size: 24px;
    color: #5e2b6d;
    margin-top: 10px;
}

body {
    margin: 0;
    height: 200vh;
    background:
    linear-gradient(
    rgba(255, 252, 254, 0.515),
    rgba(131, 24, 174, 0.519)
    ),url("https://wallpaperaccess.com/full/8575316.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
   width:100%;
    max-width: 1200px;

    background:
    linear-gradient(
        to top,
        #fdb3dd,
        #ffd0ec
    );
    font-family: "Fredoka", sans-serif;
    text-shadow: #ffffff;
    margin: 30px auto;
    padding: 40px;
    border-radius: 25px;
    align-items:left;
    color : rgb(0, 0, 0);
}
.container:hover{
    transform:translateY(-5px);
    box-shadow: 0 0 30px rgba(247, 205, 255, 0.8);
}

header{
    width: 100%;
    background-color: white;
    padding: 100px;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family:'Fredoka', sans-serif;
    font-size: 50px;
}

h2{
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}

.glow-text{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
    text-shadow:
    0 0 20px #ffd4f1;
}

.leftPanel{
    width:100%;
    max-width: 500px;

    background:
    linear-gradient(
        to top,
        #fdb3dd,
        #ffd0ec
    );
    font-family: "Fredoka", sans-serif;
    text-shadow: #ffffff;
    margin: 30px auto;
    padding: 35px;
    border-radius: 25px;
    align-items:left;
    color : rgb(0, 0, 0);

}

.leftPanel:hover{
    transform:translateY(-5px);
    box-shadow: 0 0 30px rgba(247, 205, 255, 0.8);
}


.leftPanel ul{
    padding-left: 20px;
}

.leftPanel li{
    margin-bottom: 20px;
    font-size: 20px;
}


p{
    text-align: center;
    font-family:'Fredoka', sans-serif;
    font-size: 30px;
}

.cinna{
    margin: 10px auto;
    width: 350px;
    filter:
    drop-shadow(0 0 15px rgba(78, 37, 119, 0.4));
}

.kuromi{
    background-blend-mode:overlay;
    position: fixed;
    right: 20px;
    bottom: 0;
    width: 220px;
    z-index: 1000;
    filter: drop-shadow(0 0 15px rgba(113, 54, 147, 0.5));

    animation: float 4s ease-in-out infinite;
}

@keyframes float{
    5%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
}

.gif{
    margin: 20px auto;
    width: 400px;
    border-radius: 20px;
    border: 8px solid white;
    box-shadow: 0 0 30px rgba(80, 46, 86, 0.8);

}

.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.side-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Panel{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

details{
    width: 100%;
    display: block;
    max-width: 450px;
    background:
    linear-gradient(
        to top,
        #f9c8ff,
        #ffd0ec
    );
    font-family: "Fredoka", sans-serif;
    text-shadow: #ffffff;
    margin: 30px;
    padding: 35px;
    border-radius: 25px;
    align-items:left;
    color : rgb(0, 0, 0);
    box-shadow: 0 0 30px rgba(80, 46, 86, 0.8);
}

details:hover{
    transform:translateY(-5px);
    box-shadow: 0 0 30px rgba(247, 205, 255, 0.8);
}

.Panel details{
    margin-bottom: 20px;
}

summary{
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    list-style: None;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary{
    color: #462b53;
    margin: 15px;
}

details[open] summary::after{
    content: "▲";
    font-size: 15px;
    margin-left: 10px;
}

/* For Languages */

.languages{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.lang-img{
    background: rgba(255,255,255,0.4);
    padding: 15px;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    transition: 0.3s;
}

.lang-img:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(255, 182, 255, 0.8);
}

.lang-img img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
}

.lang-img p{
    font-size: 18px;
    font-weight: bold;
    color: #462b53;
}

/* For gifs */
.gif-img{
    background: rgba(246, 234, 255, 0.4);
    padding: 20px;
    border-radius: 20px;
    width: 175px;
    text-align: center;
    transition: 0.3s;
}

.gif-img:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(255, 182, 255, 0.8);
}

.gif-img img{
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 10px;
}

.gif-img p{
    font-size: 18px;
    font-weight: bold;
    color: #462b53;
}

.skills-goals-section{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.rightPanel, button{
    flex: 1;
    max-width: 700px;
    background:
    linear-gradient(
        to bottom,
        #fdb3dd4e,
        #9c26943d
    );
    backdrop-filter: blur(15px);
    font-family: "Fredoka", sans-serif;
    text-shadow: #ffffff;
    margin: 30px;
    padding: 35px;
    border-radius: 25px;
    color : rgb(0, 0, 0);
    box-shadow:0 0 15px rgba(69, 36, 85, 0.522);

}

.left-side{
    flex-direction: column;
    margin-top: 20px;
}

.goals{
    align-self:right;
    align-items: center auto;
    flex-direction: column;
    margin: 20px auto;
}

.rightPanel:hover{
    transform:translateY(-5px);
    box-shadow: 0 0 30px rgba(247, 205, 255, 0.8);
}

.main-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    padding: 40px;
}

.goals li{
    background: rgba(255,255,255,0.4);
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    margin: 15px;
}

.goals li:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 15px rgba(255,182,255,0.8);
}

.goals img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:#ffffff solid 10px;
    border-radius: 15px;
    margin: 15px auto;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.836);
}